.sprites {
  display: flex;
  height: 300px;
  width: 300px;
  background: url("./svgs/output/all-svgs-sprite.svg#passport") no-repeat;
  // background: url("./cat.webp") no-repeat;
  background-size: contain;
}
